{% load static %}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="mazhar furkan torun, mazhar torun, furkan torun, kral soytarı donu giyer, yetmişlerin tuvaleti, ucuz serseriler, öfke sirki, tütün kutusu ve parasız aşklar, tütün kutusu, puslu yayıncılık"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Mazhar Furkan Torun</title>
</head>
<body>
    <nav class="navbar">
        <div class="buttons">
            <a class="scroll" href="#bio">Biyografi</a>
            <a class="scroll" href="#kitaplar">Kitaplar</a>
            <a class="scroll" href="#iletisim">İletişim</a>
        </div>
        <div class="toggle">
            <div class="switcher">
                <a class="modeswitcher">
                    <img src="{% static 'img/on.svg' %}" alt="switch" class="on">
                    <img src="{% static 'img/off.svg' %}" alt="switch" class="off">
                </a>
            </div>
        </div>
    </nav>
    <div id="bio" style="width: 20px" ></div>
    <div class="bio">
        <div class="bio-img">
            <img src="{% static 'img/bio.svg' %}" alt="bio">
            <img src="{% static 'img/imza.svg' %}" alt="imza" class="imzaon">
            <img src="{% static 'img/imzablack.svg' %}" alt="imza" class="imzaoff">
        </div>
        <div class="bio-icerik">
            <p>1 Şubat 1993 yılında Bursa’da doğdu. İstanbul Üniversitesi İletişim Fakültesi’nde öğrenimine devam ederken ilk romanı üzerinde çalışmalara başladı. Bu süreç içerisinde bazı özel radyolarda radyo programı ve seslendirmenlik yaptı. Röportajlarında ve söyleşilerinde yazmak dışında yaptığı her işi, yazmaya devam edebilmek için yaptığını vurgulasa da bir süre sonra tamamen romanlarına yoğunlaşabilecek fırsatı buldu. Deneme roman türündeki ilk eseri 2017 yılında Puslu Yayıncılık tarafından yayımlandı ve okurlarıyla buluştu.
            Rock’n Roll ve Yeraltı Edebiyatı’nın birleştiği bir tarzla okurlarının karşısına çıkan Mazhar Furkan Torun, roman, hikaye ve çizgi roman hikayeleri üzerinde çalışmalarına devam etmektedir.
            </p>
        </div>
    </div>
    <div id="kitaplar" style="width: 20px" ></div>
    <div class="kitaplar">
        <div class="tütünkutusu">
            <div class="tk-text">
                <h2>TÜTÜN KUTUSU VE PARASIZ AŞKLAR</h2>
                <p>"Ölmek." diyebildi güçsüz bir şekilde Agron. Fae'nin elmacık kemiklerinden kulaklarına doğru süzülen iki küçük damlacığı gördü. Anlıyordu; Fae'nin içindeki boşluk, bedeninden süzülen hafiflik, fiziki çürümenin hiç görünmediği ama hayata olan inancı çoktan çürümüş ölülere aitti. Kendisinden biliyordu, kokusuz, yarasız beresiz çürümenin ne demek olduğunu.
                    <br> <br>
                "Özür dilerim." dedi. Binlerce yıldır bu dünyaya ayak basmış her insan adına kurdu bu cümleyi. Kolaylıkla yerinden doğruldu ve Fae'nin yanına uzandı. Aradaki mesafeyi adımlamamıştı da uçarak gitmişti sanki. Ritmik sallanışlarla düşen bir kuş tüyü gibi ayakları ve başı kendiliğinden yerleşti yatağa.
                    <br><br>
                Fae'nin derisinin altında biriken hüzün ve öfke öyle bir şiddetle patladı ki kendi yer küresine ait bir depreme tutulmuş gibi sarsılıyor, öğürüyordu. En son göz yaşı izi çocukluktan kalma Agron da ağlıyordu. Fae'nin bedeninde sarılabilecek her uzva sarılıyor; kendi depremine tutulmuş bu güzelim dünyayı çatlamaktan, kırılmaktan korumak için sıkıca tutuluyordu.
                    <br><br>
                En kötü gerçekliğin kendisiyle yüzleşiyorlardı. Bu dünyaya doğmak, kıyametti.
                </p>
            </div>
            <div class="tk-img">
                <img src="{% static 'img/tutunkutusu.svg' %}" alt="tütünkutusu">
                <div class="siparis">
                    <a target="_blank" href="https://www.dr.com.tr/Kitap/Tutun-Kutusu-ve-Parasiz-Asklar/Mazhar-Furkan-Torun/Edebiyat/Roman/Dunya-Roman/urunno=0001921104001">D&R</a>
                    <a target="_blank" href="https://www.idefix.com/Kitap/Tutun-Kutusu-ve-Parasiz-Asklar/Mazhar-Furkan-Torun/Edebiyat/Roman/Dunya-Roman/urunno=0001921104001">idefix</a>
                    <a target="_blank" href="https://www.kitapyurdu.com/kitap/tutun-kutusu-ve-parasiz-asklar/580994.html">Kitapyurdu</a>
                </div>
            </div>

        </div>
        <div class="öfkesirki">
            <div class="ös-img">
                <img src="{% static 'img/ucuzserseriler.svg' %}" alt="ucuzserseriler">
                <div class="siparis">
                    <a target="_blank" href="https://www.pusluyayincilik.com.tr/ucuz-serseriler-ofke-sirki">PUSLU</a>
                    <a target="_blank" href="https://www.dr.com.tr/Kitap/Ucuz-Serseriler-Ofke-Sirki/Edebiyat/Roman/Turkiye-Roman/urunno=0001802192001">D&R</a>
                    <a target="_blank" href="https://www.idefix.com/Kitap/Ucuz-Serseriler-Ofke-Sirki/Edebiyat/Roman/Turkiye-Roman/urunno=0001802192001">idefix</a>
                    <a target="_blank" href="https://www.kitapyurdu.com/kitap/ucuz-serseriler-amp-ofke-sirki/496267.html">Kitapyurdu</a>
                </div>
            </div>
            <div class="ös-text">
                <h2>UCUZ SERSERİLER & ÖFKE SİRKİ</h2>
                <p>
                    « Bu bir kişisel yıkım romanıdır. » <br> Sokakta müzik yapan iki kadını izleyen kalabalığın önünde durdum. Kimse rahatsız olmadı. Bir, iki adım yana kayarak kadınları izlemeye devam ettiler. Görünürdüm ama kimse bundan rahatsız değildi. Yapmak istediğim şey de tam olarak buydu. Gözlerinin önünde olacaktım, amaçsızca yıkacaktım, ama onlar bunu anlamayacaklardı bile.
                </p>
            </div>
        </div>
        <div class="yetmislerintuvaleti">
            <div class="yt-text">
                <h2 class="yt-xl">70'LERIN TUVALETİ</h2>
                <p>
                    << Özkan Fuat >><br>
Baş ağrısıyla uyandığım sabahlardan nefret ederdim. Çünkü kendini öldürme işi biraz zorlaşırdı. Diğer herkesi yaşattığı gibi beni de acı yaşatıyordu. Yine de aynı geride bıraktığım sabahlar gibi uyanmıştım. Rutinime devam ederek baş ağrısını yavaşça dindirecek ve aynı yavaşlıkta bugünlük de ölecektim.
                    <br>
<< Süheyl Nadir Demir >><br>
Şimdilik polisçilik oynayan üniforma müşküllerinden ayrı bir yerde olmak ve kendi ekibimle çalışmak bütün polis işlerinden iyiydi. Yeni bir mevta haberine kadar beklemek sıkıcıydı elbette. Sokakları karış karış gezerdim beklemek yerine. Gezerken denk gelirim belki diye. Bu dönemde elma, erik ağacı gibi cesetler. Her köşe başında kurtlanırlar.
                    <br>
<< Celal Nafiz Kök >><br>
Boş bir odada ne yapar insan, bilemiyordum. Camın pervazındaki uçuşan tozları izleyerek, yan odada kalan iki arsız sevgilinin gıcırtılarını dinleyerek sabi adamı bekliyordum. Yatak gıcırtıları ve inlemeleriyle saatin tik takları ahengi yakaladı. Zihnimin içerisinde fikirler harbe tutuşmuştu ki o anın ahengini ve içimdeki harbi, kapı tıklaması bozdu. Sahiden böyle salaş bir ses nasıl bir sanat eseri bestesinin ilhamı olabilmişti ki? Hayret doğrusu!

                </p>
            </div>
            <div class="yt-img">
                <img src="{% static 'img/70lerintuvaleti.svg' %}" alt="70lerintuvaleti">
                <div class="siparis">
                    <a target="_blank" href="https://www.pusluyayincilik.com.tr/70lerin-tuvaleti">PUSLU</a>
                    <a target="_blank" href="https://www.dr.com.tr/Kitap/70lerin-Tuvaleti/Edebiyat/Roman/Turkiye-Roman/urunno=0001751758001">D&R</a>
                    <a target="_blank" href="https://www.idefix.com/Kitap/70lerin-Tuvaleti/Edebiyat/Roman/Turkiye-Roman/urunno=0001751758001">idefix</a>
                    <a target="_blank" href="https://www.kitapyurdu.com/kitap/70lerin-tuvaleti/457352.html">Kitapyurdu</a>
                </div>
                <h2 class="yt-sm">70'LERIN TUVALETİ</h2>
                <div class="yt-text-2">
                    <p>Üç farklı dil, Üç farklı hayat, Üç karakter, Dört final… Yer altı edebiyatını, örneklerinden farklı bir yere taşıyan 70’lerin Tuvaleti; sıradan insanların, sıradan karanlıklarını sert bir dille gösterirken, ekolüne bağlı kalarak da yer altı edebiyatının işlevselliğine dikkat çekiyor.</p>
                </div>
            </div>
        </div>
        <div class="kralsoytaridonugiyer">
            <div class="kral-img">
                <img src="{% static 'img/kralsoytari.svg' %}" alt="kralsoytari">
                <div class="siparis">
                    <a target="_blank" href="https://www.pusluyayincilik.com.tr/kral-soytari-donu-giyer">PUSLU</a>
                    <a target="_blank" href="https://www.dr.com.tr/Kitap/Kral-Soytari-Donu-Giyer/Edebiyat/Deneme-Yazin/urunno=0001708493001">D&R</a>
                    <a target="_blank" href="https://www.idefix.com/Kitap/Kral-Soytari-Donu-Giyer/Edebiyat/Deneme-Yazin/urunno=0001708493001">idefix</a>
                    <a target="_blank" href="https://www.kitapyurdu.com/kitap/kral-soytari-donu-giyer/429388.html">Kitapyurdu</a>
                </div>
            </div>
            <div class="kral-text">
                <h2>KRAL, SOYTARI DONU GİYER</h2>
                <p>
                    Çıkışa doğru yürüyordu. Bana kızmadığına emindim. Kendisine ve bunun fark edilmesine kızıyordu. Buruşarak ve yalnız öleceğinin hatırlatılması canını sıkmıştı. Hepimizin hatası buydu belki de. Buruşuk, kırış kırış doğmuştuk ve aynı şekilde ölecektik. Hayat, iki kırışıklığın arasında geçen süreden ibaretti birçoğumuz için. Kırışık ve yalnızca ebeveynleri tarafından sevilebilecek şekilde doğan ve yaşarken tekrar kırışacak olan bizler, ne yaparsak yapalım iğrenç haline dönecek olan derimizi kurtarmaya çalışarak yaşıyorduk. Yüzümüzün, bedenimizin çöküşüne o kadar çok takılıyorduk ki, düşüncenin çöküşünü unutuyorduk. İnsanlığın tek amacı vardı. Buruşmadan sevişmek, yaşlanmadan eğlenebilmek; dinçken aklı başında hiçbir iş yapmayarak yaşlanınca işe yarayacağını düşünmek.

                </p>
            </div>
        </div>
    </div>
    <div class="podcast">
        <h1>DAVLUMBAZ IŞIĞINDA SOHBETLER</h1>
        <div class="podcast-img">
            <img src="{% static 'img/davlumbazisiginda.jpg' %}" alt="davlumbazisiginda">
        </div>
        <div class="stream">
            <div class="streamimg">
                <a target="_blank" href="https://open.spotify.com/show/6EntOyvu324vsBkDEsMuiF?si=sl7XpO0ZRUW8RyhpVIrFcg"><img src="{% static 'img/spotify_white.svg' %}" alt="spotify" class="spotifywhite"></a>
                <a target="_blank" href="https://open.spotify.com/show/6EntOyvu324vsBkDEsMuiF?si=sl7XpO0ZRUW8RyhpVIrFcg"><img src="{% static 'img/spotify_black.svg' %}" alt="spotify" class="spotifyblack"></a>
            </div>
            <div class="streamimg">
                <a target="_blank" href="https://soundcloud.com/mazhar-furkan-torun/davlumbaz-isiginda-sohbetler-s1-b1"><img src="{% static 'img/soundcloud_white.svg' %}" alt="soundcloud" class="soundcloudwhite"></a>
                <a target="_blank" href="https://soundcloud.com/mazhar-furkan-torun/davlumbaz-isiginda-sohbetler-s1-b1"><img src="{% static 'img/soundcloud_black.svg' %}" alt="soundcloud" class="soundcloudblack"></a>
            </div>
        </div>
    </div>
    <div id="iletisim" class="iletisim">
        <h2>İLETİŞİM</h2>
        <a href="mailto:info@mazharfurkantorun.com">info@mazharfurkantorun.com</a>
    </div>

<script src="{% static 'js/script.js' %}"></script>
    <script>
        $(document).ready(function() {

            var scrollLink = $('.scroll');

            // Smooth scrolling
            scrollLink.click(function (e) {
                e.preventDefault();
                $('body,html').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        })
    </script>
</body>
</html>